// Media Queries
$mq-620-down: "only screen and (max-width: 620px)";
$mq-620-up: "only screen and (min-width: 620px)";

$mq-760-down: "only screen and (max-width: 759px)";
$mq-760-up: "only screen and (min-width: 760px)";

$mq-900-down: "only screen and (max-width: 899px)";
$mq-900-up: "only screen and (min-width: 900px)";

$mq-1000-down: "only screen and (max-width: 999px)";
$mq-1000-up: "only screen and (min-width: 1000px)";

$mq-1180-up: "only screen and (min-width: 1180px)";

$mq-1400-up: "only screen and (min-width: 1400px)";